{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}

        <div style="padding-top: 20px;"></div>
        <div class="row">    
            {% for anon in object_list %}
                <div class="card" style="width: 18rem; float: left; width: 400px; padding-right: 20px;">
                    <img src="{{ anon.image.url }}" class="card-img-top" alt="..." style="width: 100%; height: 500px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ anon.name }}</h5>
                        <p class="card-text"><i class="fa-brands fa-telegram"></i> <a href="https://t.me/{{ anon.telegram }}" target="_blank">{{ anon.telegram }}</a></p> <hr>
                        <p class="card-text"><i class="fa-brands fa-instagram"></i> <a href="https://instagram.com/{{ anon.instagram }}" target="_blank">{{ anon.instagram }}</a></p> <hr>
                        <p class="card-text"><i class="fa-brands fa-youtube"></i> <a href="{{ anon.youtube }}" target="_blank">You Tube</a></p> <hr>
                        <a href="{% url 'anons_detail' anon.pk %}" class="btn btn-primary">Go somewhere</a> 
                    </div>    
                </div>
            {% endfor %} 
        </div>
    {% endif %}
{% endblock content %}